<configuration>
  <appSettings>
    <add key="Url" value="" />
    <add key="Browser" value="1" />
    <!--"1" for Chrome & "2" for Firefox (Firefox is not supported for now) -->
    <add key="Implicit_Wait" value="15" />
    <add key="Explicit_Wait" value="15" />
    <add key="Explicit_Wait_Data" value="5" />
    <add key="PageLoad_Timeout" value="25" />
    <add key="Report_Path" value="Reports\TestReport.html" />
    
    <add key="Login_Message" value="Login Failure1" />
    <add key="Loggedin_User" value="" />
    <add key="Screen_Shot_Path" value="screenshot" />
    <add key="Excel_File_Path" value =""/>
    <add key="Report_Name" value ="Automation Test Results"/>
    <add key="Report_Title" value="Automation Test Report"/>
    <add key="Report_Encoding" value="utf-8"/>
    <add key ="Extent_Theme" value ="1"/>
    <!--"1" for Dark Theme & "2" for Standard theme -->
    <add key="Excel_File_Path" value="Seeds\TestData.xlsx" />
  </appSettings>
</configuration>